* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  margin: 20px 40px;
}

.project img {
  width: 400px;
}

.project {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
